.venv/
env/
.env
*.env
**/.env
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
.DS_Store
.idea/
.vscode/

node_modules/
dist/
build/
/.cache/

# Frontend env
fullstack-app/frontend/.env
# Backend env
fullstack-app/backend/.env
